/* HTML & General CSS Styling */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "DM Sans", sans-serif;
	font-family: "Exo", sans-serif;
	font-family: "Noto Sans", sans-serif;
	overflow-x: hidden !important;
}

html {
	font-size: 62.5%;
	overflow-x: hidden !important;
}

/* Burger Styling which will activate in certain screen conditions */
.burger {
	display: none;
	z-index: 100;
}

.social-media {
	padding-left: 7rem;
	position: absolute;
	right: 15%;
}

.social-media a,
.social-media-footer a {
	color: #233646;
}

/* Hamburger CSS Styling when Active */
.burger.active .line2 {
	display: none;
}

.burger.active .line1 {
	transform-origin: center;
	transform: rotate(50deg);
}

.burger.active .line3 {
	transform-origin: center;
	transform: translateY(-7px) rotate(133deg);
}

.line {
	width: 2rem;
	height: 3px;
	background-color: black;
	margin: 4px 0;
}

.display-flex {
	display: flex;
}

header {
	position: relative;
	padding: 25px 50px;
	align-items: center;
	justify-content: center;
}
/* Image Logo Styling */
#logo {
	object-fit: cover;
	width: 10rem;
	height: 8rem;
}

.nav-title {
	margin-left: 5rem;
	font-size: 4rem;
}

.fa-brands {
	cursor: pointer;
	margin: 0 1rem;
	font-size: 4rem;
}
/* Nav Link Styling with List Items as well as Selected State */
.nav-links {
	margin-top: 4rem;
	width: 100%;
	justify-content: center;
	transition: all 0.5s ease;
}

.nav-links li {
	border: 2px solid black;
	list-style: none;
	font-size: 2rem;
	padding: 1.5rem 3rem;
	cursor: pointer;
}

.nav-links li.selected {
	background-color: rgb(0, 156, 156);
}

main {
	width: 60%;
	margin: 0 auto;
	margin-top: 4rem;
	overflow: hidden;
}

.mt-5 {
	margin-top: 5rem;
}

.content {
	font-size: 1.9rem;
	text-align: center;
}
/* Books CSS Styling */
.books {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex: 4 1 0;
}

.book {
	margin-right: 2rem;
	margin-bottom: 2rem;
	width: 45%;
	height: 25rem;
	border: 2px solid black;
	padding: 1rem;
}

.book-cover {
	width: 100%;
	margin-right: 1.5rem;
	flex: 1 1 0;
}

.book-content {
	flex: 1 1 0;
}

.book-img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.book-title {
	font-size: 1.5rem;
}

.author {
	font-weight: lighter;
	font-size: 1.3rem;
	font-style: italic;
}

.pages {
	font-size: 1.3rem;
}

.little-info {
	font-size: 1.2rem;
}
/* Featured Section CSS Styling */
.featured {
	flex: 1 1 0;
	border: 2px solid black;
	padding: 2rem;
	margin-bottom: 3rem;
}

.featured-title {
	text-align: center;
	font-size: 3rem;
}

.featured-book {
	width: 100%;
	height: 39rem;
	margin: 2rem 0;
	padding: 2rem;
	border: 2px solid black;
}

.featured-book-content,
.featured-book-cover {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.featured-book-cover {
	margin-top: 1rem;
}

.flex-wrap {
	flex-wrap: wrap;
}

.featured-book-img {
	width: 60%;
}

.featured-books {
	display: flex;
	height: 95%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Social Media Footer with Display of None for Desktop and Big screens */
.social-media-footer {
	display: none;
}
/* Active state Styling for nav-links */
.nav-links.active {
	display: flex;
	transform: translateX(0);
}

.is-selected {
	background-color: grey;
}

/* Media Queries for Screen Sizes up till 1378 pixels */

@media screen and (max-width: 1378px) {
	main {
		width: 70%;
	}

	.social-media {
		position: initial;
	}
}

/* Media Queries for Screen Sizes up till 1042 pixels */

@media screen and (max-width: 1042px) {
	main {
		width: 80%;
	}
}
/* Media Queries for Screen Sizes up till 732 pixels */

@media screen and (max-width: 732px) {
	html {
		font-size: 59%;
	}

	nav {
		display: flex;
		justify-content: center;
	}

	.nav-title {
		margin-left: 0;
	}

	#logo {
		display: none;
	}

	.nav-links {
		display: none;
	}

	.nav-links {
		flex-direction: column;
		justify-content: center;
		background: white;
		position: absolute;
		top: 0;
		height: 100%;
		padding: 3rem;
		left: 0;
		width: 100%;
		transform: translateX(100%);
	}

	.featured {
		order: 1;
		width: 90%;
		margin-bottom: 3rem;
	}

	.featured-book-img {
		width: 40%;
	}

	.books {
		order: 2;
		flex: 4 1 auto;
	}

	.burger {
		display: block;
	}
}
/* Media Queries for Screen Sizes up till 572 pixels */

@media screen and (max-width: 572px) {
	.social-media {
		display: none;
	}

	main {
		width: 90%;
	}

	.book {
		width: 100%;
	}

	.social-media-footer {
		display: flex;
		margin: 3rem 0;
		justify-content: center;
	}
}